__pycache_
Legacy/env

Chirp/src/Core/bin/
Chirp/src/Core/obj/
Chirp/src/Infrastructure/bin/
Chirp/src/Infrastructure/obj/
Chirp/src/Web/bin/
Chirp/src/Web/obj/
Chirp/test/End2EndTests/bin/
Chirp/test/End2EndTests/obj/
Chirp/test/IntegrationTest/bin/
Chirp/test/IntegrationTest/obj/
Chirp/test/UnitTest/bin/
Chirp/test/UnitTest/obj/
Chirp/test/SupportScripts/bin/
Chirp/test/SupportScripts/obj/
Chirp/.idea/

Chirp/bin
Chirp/obj
[Bb]in/
[Oo]bj/